* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background: #b7bcce19;
}

section {
  position: relative;
}

h1 {
  color: #282538;
  font-size: 30px;
  font-style: normal;
  line-height: 36px;
}

h1 span {
  font-weight: 300;
}

header,
section {
  margin: 50px 0px 40px 100px;
}

/*-------------Search section----------------*/
.search {
  height: 140px;
  background: url(./img/backgroundImg.png);
  margin: 0px 100px 0px 100px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconBag {
  margin-left: 15px;
}

.formSearch {
  width: 70%;
  height: 60px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  position: relative;
}

.btn-search {
  border: none;
  width: 146px;
  height: 46px;
  border-radius: 4px;
  background: #1e86ff;
  color: #fff;
  font-size: 14px;
  position: absolute;
  right: 5px;
}

.inputSearch {
  border: none;
  outline: none;
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-left: 10px;
  width: 250px;
  height: 25px;
}

/*----------Work Body ---------------*/
.sidebar {
  width: 30%;
}

.sidebar h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #B9BDCF;
  margin: 10px 0px 10px 0px;
}

.worklist {
  width: 68%;
}

.workBody {
  display: flex;
  justify-content: space-around;
  margin: 50px 100px 0px 100px;
}

.form-div {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.form-div label {
  margin-left: 5px;
  color: #334680;
  font-size: 16px;
  font-weight: 500;
}

.check {
  width: 18px;
  height: 18px;
  border: 1px solid #B9BDCF;
  border-radius: 2px;
}

.form-city {
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 3px;
  margin: 10px 0px 30px 0px;
  position: relative;
}

.mini-search {
  border: #1E86FF solid 1px;
  background-color: #1e86ff;
  background-image: url(./img/search.png);
  background-size: contain;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 5px;
}

.input-City {
  margin-left: 5px;
  font-size: 14px;
  width: 60%;
  outline: none;
  border: none;
}

.input-City:active {
  outline: none;
  border: none;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #334680;
  font-size: 14px;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input~.checkmark {
  background-color: #ccc;
}

.container input:checked~.checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 8px;
  left: 8px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}

/*---------VACANCY style--------*/
.vacancy {
  text-decoration: none;
  width: 100%;
  padding: 5px;
  height: 120px;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  color: #334680;
  font-family: 'Roboto' sans-serif;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
  margin-bottom: 30px;
}

.logoEnter, .emp .logoEnter  {
  width: 90px;
  height: 90px;
  border-radius: 4px;
}

.disc {
  margin-left: 7px;
}

.positionName {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 21px;
  margin: 5px 0px 5px 0px;
}

.statusName {
  width: 63px;
  height: 26px;
  border: solid 1px #334680;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data {
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 20px;
  bottom: 5px;

}

.data-info {
  display: flex;
  align-items: center;
  margin: 3px;
  font-size: 12px;
  color: #B9BDCF;
}

.data-info img {
  margin: 3px;
}

/*------------Control STle-------*/
.control {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(10, 36px);
  gap: 10px;
  position: absolute;
  right: 122px;
}

.seta,
.seta-1,
.seta-0 {
  border: 1px solid #B7BCCE;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B7BCCE;
  margin: 5px;
  margin-left: 10px;
}

.seta:hover,
.seta-1:hover,
.seta-0:hover {
  border: solid 1px #1E86FF;
}

.seta-1 {
  display: none;
}

.seta-0 {
  display: flex;
}

.active {
  background: #1E86FF;
  color: #fff;
}

/*-----------Detail Vacancy -----------*/

#detail {
  display: block;
  justify-content: space-between;
  width: 100%;
}

.detail-Vacancy {
  display: flex;
}

.bar {
  min-height: 400px;
  width: 350px;
  margin-right: 10px;
}

.detail-boby {
  width: 90%;
}

#description {
  color: #334680;
}

.apply {
  color: #B9BDCF;
}

.applyLink,
.btnBack {
  text-decoration: none;
  color: #1E86FF;
}

.btnBack {
  font-size: 18px;
  border: none;
  background: none;
}
.emp{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.emp .text{
  margin-left: 10px;
}
.emp .logoEnter{
  border: solid 1px #334680;
}
.emp h3{
  color: #334680;
}
.headerDetail h1, title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #334680;
  margin-right: 10px;
}
.headerDetail{
  display: flex;
}
/*-----------Footer --------------*/
footer {
  margin-top: 50px;
  margin-bottom: 10px;
}

footer p {
  text-align: center;
  color: rgb(144, 142, 142);
  font-size: 16px;
}

footer a {
  color: rgb(103, 102, 102);
}
/*-----------Resposive web ---------*/
@media only screen and (max-width: 800px) {
  *{
    margin: 0px;
    padding: 0px;
  }
  h4{
    font-size: 16px;
  }
  h2{
    font-size: 20px;
  }
  #body{
    min-height: 1400px;
  }
  section, body, header{
    margin: 0px;
  }
  header{
    margin: 10px 0px 10px 10px; 
  }
  .search{
    margin: 0px 10px 0px 10px;
    width: 95%;
  }
  .formSearch{
    width: 315px;
    height: 55px;
  }
  .formSearch input{
    font-size: 12px;
  }
  .btn-search{
    width: 104px;
    height: 47px;
  }
  .workBody{
    margin: 10px 10px 0px 10px;
    width: 95%;
    display: block;
  }
  .sidebar, .worklist{
    width: 100%;
  }
  .worklist{
    font-size: 13px;
  }
  .vacancy{
    height: 150px;
    align-items: start;
  }
  .vacancy h2{
    font-size: 18px;
  }
  .control{
    left: 0px;
  }
  .detail-Vacancy {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }
  .bar {
    width: 95%;
    min-height: 100px;
    margin-right: 10px;
  }
  
  .detail-boby {
    width: 95%;
  }
}